@mixin sm{
    @media screen and (max-width: 350px) {
        @content;
    }
}

@mixin md{
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin tab{
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


